@using MVC_Examples.Models
@model Car

<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
    <h1>@Model.name</h1>
    <a href="/cars">Back to Home</a>
    </body>
    </html>